.todo-list::-webkit-scrollbar {
  /* 整体样式 */
  width: 10px; 
  height: 9px;
}

.todo-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
