.no-checked > span{
  background: var(--semi-color-tertiary-light-default);
  border: 1px solid var(--semi-color-tertiary-light-active);
  border-radius: 3px;
}

.base-box{
  padding: 4px;
  width: 96px;
  height: 36px;
}

.base-box:hover{
  transform: scale(1.05);
  cursor:pointer;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #fff;
}

.theme-box{
  font-size: 12px;
  background: var(--primary);
  transition: transform .1s,-webkit-transform .1s;
  box-sizing: border-box;
  cursor: pointer;
}

.theme-box-list:hover{
  transform: scale(1.05);
}

.color-list{
  display: flex;
  flex-wrap: wrap;
}
