.switch{
  position: relative;
  width: 40px;
}

.switch label{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  background: rgb(255 255 255 / 0%);
  border-radius: 20px;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.switch::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  margin: auto;
  width: 15px;
  height: 15px;
  background: var(--grey-dark);
  border-radius: 50%;
  transition: all .4s ease;
  content: "";
}

.switch::before{
  width: 100%;
  height: 100%;
  background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
  border-radius: inherit;
  opacity: 0;
  transition: all .4s ease;
  content: '';
}

.switch-checked::before{ opacity: 1; }

.switch-checked::after{ 
  left: 57%; 
  background: var(--grey-light-1);
}
