.input {
  position: relative;
  z-index: 99;
  padding: 10px;
  width: 600px;
  min-height: 40px;
  font-family: 'Courier New', Courier, monospace;
  background: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 5px 5px 17px #c8c8c8,
             -5px -5px 17px #fff;
  transition: all .5s;
}

.input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8,
            inset -5px -5px 17px #fff;
}

.search-list{
  width: 580px;
  min-height: 300px;
  max-height: 300px;
  background: var(--f2f2f3);
  border-radius: 12px;
  box-shadow: inset 5px 5px 10px #a9a9aa77,
               inset -5px -5px 10px #ffffff7e;
}

.button {
  z-index: 99;
  width: 100px;
  height: 40px;
  font-size: 17px;
  color: #357af0;
  background: var(--basebgc);
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #ccc,
              -5px -5px 15px transparent;
  transition: box-shadow 0.3s ease-in-out;
  font-weight: bold;
}

.button:hover {
  color: #357af0;

  /* background: linear-gradient(145deg, #d4d4d4, #fbfbfb); */
  box-shadow: 5px 5px 15px #ccc,
              -5px -5px 15px transparent;
}

.button:active {
  color: #357af0;
  background: #ebebeb;
  box-shadow: inset 5px 5px 15px #ccc,
              inset -5px -5px 15px #fff;
}
