@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
	--gradient: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}

.clear {
	clear: both;
}

.container {
  font-family: Montserrat, sans-serif;
  color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.weather-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
	height: 100px;
	background-size: cover;
	border-radius: 10px;
  box-shadow: var(--shadow);
	transition: transform 300ms ease, -webkit-transform 300ms ease;
	transform: translateZ(0) scale(1.02) perspective(1000px);
}

.weather-side:hover {
	transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.weather-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	opacity: 0.8;
	background-image: var(--gradient);
}

.date-container {
  padding: 10px;
}

.date-dayname {
	margin: 0;
  font-size: 12px;
}

.date-day {
	display: block;
  font-size: 12px;
}

.location {
	display: inline-block;
  font-size: 12px;
}

.location-icon {
	display: inline-block;
	margin-right: 5px;
	width: auto;
	height: 0.8em;
}

.weather-container {
  padding: 10px;
}

.weather-icon.feather {
	width: auto;
	height: 60px;
}

.weather-temp {
	margin: 0;
	font-weight: 700;
	font-size: 30px;
}

.weather-desc {
	margin: 0;
	font-size: 16px;
}

.info-side {
	padding: 10px 0;
  padding-bottom: 0;
	height: 100%;
}

.today-info {
	padding: 15px;
	margin: 0 25px 25px;
	border-radius: 10px;
}

.today-info>div:not(:last-child) {
	margin: 0 0 10px;
}

.today-info>div .title {
	float: left;
	font-weight: 700;
}

.today-info>div .value {
	float: right;
}

.week-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 10px;
	margin: 10px 0;
  margin-bottom: 0;
	background: linear-gradient( 135deg, #c8c2fc 10%, var(--primary) 100%);
	border-radius: 10px;
  box-shadow: var(--shadow);
	list-style-type: none;
}

.week-list>li {
	display: flex;
	padding: 15px 3px;
	margin: 0 4px;
	height: 100%;
	font-size: 14px;
	color: var(--grey-light-2);
	background-color: rgb(255 255 255 / 10%);
	border: 1px solid rgb(255 255 255 / 20%);
	border-radius: 10px;
	transition: 200ms ease;
	cursor: pointer;
	flex-direction: column;
}

.week-list>li:hover {
  color: #fff;
	background: #fff;
	transform: scale(1.1);
	backdrop-filter: blur(3px);
	background-color: rgb(255 255 255 / 10%);
	border: 1px solid rgb(255 255 255 / 20%);
	box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
}

.week-list>li.active {
	color: #fff;
	background-color: rgb(255 255 255 / 10%);
	border: 1px solid rgb(255 255 255 / 20%);
	border-radius: 10px;
	backdrop-filter: blur(3px);
}

.week-list>li .day-name {
	display: block;
	margin: 10px 0 0;
	text-align: center;
}

.week-list>li .day-icon {
	display: block;
	margin: 0 auto;
	width: auto;
	height: 30px;
}

.week-list>li .day-temp {
	display: block;
	margin: 10px 0 0;
	text-align: center;
	font-weight: 700;
}

.location-container {
	padding: 25px 35px;
}

.location-button {
	padding: 10px;
	width: 100%;
	font-family: Montserrat, sans-serif;
	color: #fff;
	border: none;
	border-radius: 25px;
	outline: none;
	box-shadow: 0 0 30px -5px rgb(0 0 0 / 25%);
	transition: -webkit-transform 200ms ease;
	transition: transform 200ms ease;
	transition: transform 200ms ease;
	transition: transform 200ms ease, -webkit-transform 200ms ease;
	box-sizing: border-box;
	background-image: var(--gradient);
	font-weight: 700;
	cursor: pointer;
}

.location-button:hover {
	transform: scale(0.95);
}

.location-button .feather {
	margin-right: 5px;
	width: auto;
	height: 1em;
}

.no-empty{
  font-size: 14px;
  text-align: center;
  color: var(--grey-dark);
  cursor: pointer;
}
