.cardm {
  display: flex;
  justify-content: center;
}

.card {
  z-index: 2;
  width: 250px;
  height: 80px;
  color: black;
  background: var(--basebgc);
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.weather {
  position: relative;
  margin: 1em;
}

.main {
  font-size: 1.2em;
}

.main-date-time{
  font-size: 12px;
}

.mainsub {
  position: relative;
  top: -10.2em;
  left: 14em;
  font-size: 0.6em;
}

.card2 {
  position: absolute;
  z-index: -1;
  display: flex;
  width: 240px;
  height: 80px;
  background: var(--basebgc);
  border-radius: 35px;
  transition: .4s ease-in-out;
  flex-direction: row;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.card:hover {
  background-color: #FFE87C;
  cursor: pointer;
}

.card:hover + .card2 {
  height: 150px;
  border-bottom-left-radius: 35;
  border-bottom-right-radius: 35;
  background: var(--basebgc);
  box-shadow: 5px 5px 17px var(--grey-light-2),
  -5px -5px 17px var(--white);
}

.card:hover + .card2 .lower {
  top: 7em;
}

.lower {
  position: absolute;
  top: 1em;
  left: 3em;
  display: flex;
  margin-top: 0.7em;
  font-size: 0.7em;
  text-align: center;
  color: black;
  transition: .4s ease-in-out;
  flex-direction: row;
}

.aqi {
  margin-right: 3.25em;
}

.realfeel {
  margin-right: 1.8em;
}
